
{% macro card(user) %}
 
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{user.name}} Trainings </h5>
        <p class="card-text">Click preview button to preview <strong>{{user.name}}</strong> workouts!</p>
        <button  class="btn btn-warning text-align-right" type="button"
         data-bs-toggle="modal" data-bs-target="#modal{{user.id}}">Preview</button>
    </div>
</div>
{% endmacro %}