{% macro navbar (title, logoutBtn = false, planBtn = false) %}
<header>
        <!-- navbar starts here -->
        <nav class="navbar" style="background-color:  #696969">
            <div class="container-xxl">
                <a class="navbar-brand d-flex align-items-center">
                    <img src="../../assets/images/logo.png" alt="logo" width="45" height="45" />
                    <span class=" ms-1 fw-bold text-warning"> Pump House </span>
                </a>
                <h1 class="text-light">
                    {{title}}
                </h1>
                <div
                    x-data="{
                        logout(){
                            const cookie = document.cookie;
                            let cookiesArr = cookie.split(';');
                            cookiesArr = cookiesArr.map(e=>e.trim())
                            const filtered = cookiesArr.filter(el => el.startsWith('token='))
                            const userTokenArr = filtered[0].split('=');
                            const token = userTokenArr[1];
                            document.cookie = 'token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT'


                            fetch('/api/logout',{
                                method:'POST',
                                headers:{ 'Content-type': 'application/json'},
                                body:JSON.stringify({token})
                            })
                            .then(window.location.href='http://localhost:3000')
                        }

                    }"
                    class="d-flex flex-row-reverse">
                    {% if logoutBtn == true %}
                        <button type="button" @click.prevent="logout()" class="btn btn-danger" onclick="logout()">
                            <div class="p-1">Logout</div>
                        </button>
                    {% endif %}
                    
                    {% if planBtn == true %}
                        <a href="../workouts" class="btn btn-primary me-3">
                            <div class="p-1">Plans</div>
                        </a>
                    {% endif %}
                   
                </div>
            </div>
        </nav>
        <!-- navbar ends here -->
</header>
{% endmacro %}