{% extends "../components/html.twig"%}
{% import "../components/navbar.twig" as nav %}
{% block title %}Not found{% endblock %}

{% block navbar %}
{{nav.navbar("Not Found",{""})}}
{% endblock %}
{% block content %}
    {#{% include "../components/navbar.twig" %}#}
    <main class="container mt-5">
        <div class="d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                </p>
                <a href="../../" class="btn btn-warning">Go Home</a>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}