{% extends "./components/html.twig"%}
{% import "./components/navbar.twig" as nav %}

{% block navbar %}
{{nav.navbar("Welcome to Pump House",{""})}}
{% endblock %}

{% block content %}
    {#{% include "./components/navbar.twig" %}#}
    <main>
      <section class="container d-flex justify-content-center align-items-center p-5">
        <div class="card glass2 text-center" style="width: 35rem">

          <div class="card-body ">
            <h5 class="card-title text-center">Welcome To Pump House</h5>
            <p class="card-text">
              For having access to our features, please login or sign-up.
            </p>
            <p>
              <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
                  aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Signup/Login</button>
          </p>
          <div class="row justify-content-center position-relative">
              <div class="col-6">
                  <div class="collapse show multi-collapse" id="multiCollapseExample1">
                      <div x-data="{
                                  email:'',
                                  pass:'',
                                  err:false,
                                 login(){
                                   const formData={
                                   email:this.email,
                                   pass:this.pass }
                                 fetch('/api/login', {
                                   method: 'POST',
                                  headers: { 'Content-type': 'application/json'},
                                  body:JSON.stringify(formData)
                                       }).then(response => { 
                                         const error=response.headers.get('err')
                                         switch (error) {
                                          case 'notExist':
                                          this.err = true
                                          break;

                                          case 'notMatch':
                                          this.err = true
                                          break;


                                          default:
                                            window.location.href='/workouts'
                                            break;
                                         }
                                       })
                                      }
                                     }"
                      
                      
                      
                      
                       class="card card-body">
                      
                          <form @submit.prevent="login">
                              <p x-show="err" class="text-danger">Username or Password is incorrect!</p>

                              <div class="mb-3">
                                <label for="loginInputEmail1" class="form-label">Email address:</label>
                                <input x-model= "email" type="email" class="form-control" id="loginInputEmail1" aria-describedby="emailHelp" required>
                              </div>
                              <div class="mb-3">
                                <label for="loginInputPassword1" class="form-label">Password:</label>
                                <input x-model="pass" type="password" class="form-control" id="loginInputPassword1" required>
                              
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                      </div>
                  </div>
                 
              </div>
            </div>
          </div>
          <div class="col-6 position-relative justify-content-center">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
         <div x-data="{

                name:'',
                email:'',
                pass:'',
                pass2:'',
                emailErr:false,
                passErr:false,


                register(){
                  const formData={
                    name:this.name,
                    email:this.email,
                    pass:this.pass,
                    pass2:this.pass2
                  }
                 console.log(formData)
                  fetch('/api/signup', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json'},
                    
                    body:JSON.stringify(formData)
                  }).then(response => {
                     const error = response.headers.get('err');
                     switch (error) {
                        case 'notMatched':
                        this.passErr = true
                        break;

                        case 'exists':
                        this.emailErr = true
                        break;


                        default:
                        window.location.href='/workouts'
                        break;
                      }
                     
                  })
                }
              }" 
                   class="card card-body">
                <form  @submit.prevent="register">
                  <div class="mb-3">
                    <label for="signUpInputName" class="form-label">Name:</label>
                    <input x-model="name" type="text" class="form-control" id="signUpInputName" required>
                  </div>
                  <div class="mb-3">
                    <label for="signUpInputEmail" class="form-label">Email address:</label>
                    <input x-model="email" type="email" class="form-control" id="signUpInputEmail"
                      aria-describedby="emailHelp" required>
                    <p x-show="emailErr" class="text-danger">The email is already registered!</p>

                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="signUpInputPassword" class="form-label">Password:</label>
                    <input x-model="pass" type="password" class="form-control" id="signUpInputPassword" required>
                  </div>
                  <div class="mb-3">
                    <label for="signUpInputPassword2" class="form-label">Confirm Password:</label>
                    <input x-model="pass2" type="password" class="form-control" id="signUpInputPassword2" required>
                    <p x-show="passErr" class="text-danger">Passwords must match with each other!</p>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
